.m-t-5 {
  margin-top: 5px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-t-35 {
  margin-top: 35px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-t-45 {
  margin-top: 45px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.m-t-55 {
  margin-top: 55px !important; }

.m-t-60 {
  margin-top: 60px !important; }

.m-t-65 {
  margin-top: 65px !important; }

.m-t-70 {
  margin-top: 70px !important; }

.m-t-75 {
  margin-top: 75px !important; }

.m-t-80 {
  margin-top: 80px !important; }

.m-t-85 {
  margin-top: 85px !important; }

.m-t-90 {
  margin-top: 90px !important; }

.m-t-95 {
  margin-top: 95px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.m-b-5 {
  margin-top: 5px !important; }

.m-b-10 {
  margin-top: 10px !important; }

.m-b-15 {
  margin-top: 15px !important; }

.m-b-20 {
  margin-top: 20px !important; }

.m-b-25 {
  margin-top: 25px !important; }

.m-b-30 {
  margin-top: 30px !important; }

.m-b-35 {
  margin-top: 35px !important; }

.m-b-40 {
  margin-top: 40px !important; }

.m-b-45 {
  margin-top: 45px !important; }

.m-b-50 {
  margin-top: 50px !important; }

.m-b-55 {
  margin-top: 55px !important; }

.m-b-60 {
  margin-top: 60px !important; }

.m-b-65 {
  margin-top: 65px !important; }

.m-b-70 {
  margin-top: 70px !important; }

.m-b-75 {
  margin-top: 75px !important; }

.m-b-80 {
  margin-top: 80px !important; }

.m-b-85 {
  margin-top: 85px !important; }

.m-b-90 {
  margin-top: 90px !important; }

.m-b-95 {
  margin-top: 95px !important; }

.m-b-100 {
  margin-top: 100px !important; }

.m-l-5 {
  margin-top: 5px !important; }

.m-l-10 {
  margin-top: 10px !important; }

.m-l-15 {
  margin-top: 15px !important; }

.m-l-20 {
  margin-top: 20px !important; }

.m-l-25 {
  margin-top: 25px !important; }

.m-l-30 {
  margin-top: 30px !important; }

.m-l-35 {
  margin-top: 35px !important; }

.m-l-40 {
  margin-top: 40px !important; }

.m-l-45 {
  margin-top: 45px !important; }

.m-l-50 {
  margin-top: 50px !important; }

.m-l-55 {
  margin-top: 55px !important; }

.m-l-60 {
  margin-top: 60px !important; }

.m-l-65 {
  margin-top: 65px !important; }

.m-l-70 {
  margin-top: 70px !important; }

.m-l-75 {
  margin-top: 75px !important; }

.m-l-80 {
  margin-top: 80px !important; }

.m-l-85 {
  margin-top: 85px !important; }

.m-l-90 {
  margin-top: 90px !important; }

.m-l-95 {
  margin-top: 95px !important; }

.m-l-100 {
  margin-top: 100px !important; }

.m-r-5 {
  margin-top: 5px !important; }

.m-r-10 {
  margin-top: 10px !important; }

.m-r-15 {
  margin-top: 15px !important; }

.m-r-20 {
  margin-top: 20px !important; }

.m-r-25 {
  margin-top: 25px !important; }

.m-r-30 {
  margin-top: 30px !important; }

.m-r-35 {
  margin-top: 35px !important; }

.m-r-40 {
  margin-top: 40px !important; }

.m-r-45 {
  margin-top: 45px !important; }

.m-r-50 {
  margin-top: 50px !important; }

.m-r-55 {
  margin-top: 55px !important; }

.m-r-60 {
  margin-top: 60px !important; }

.m-r-65 {
  margin-top: 65px !important; }

.m-r-70 {
  margin-top: 70px !important; }

.m-r-75 {
  margin-top: 75px !important; }

.m-r-80 {
  margin-top: 80px !important; }

.m-r-85 {
  margin-top: 85px !important; }

.m-r-90 {
  margin-top: 90px !important; }

.m-r-95 {
  margin-top: 95px !important; }

.m-r-100 {
  margin-top: 100px !important; }

/* Accessors */
.row {
  overflow: hidden; }

.col-50 {
  width: 50%;
  float: left; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.button-delete {
  color: #fff !important;
  border-color: #a00 !important;
  background: #a00 !important; }

/* Settings */
.settings-tabs {
  overflow: hidden;
  z-index: 2;
  position: relative;
  top: 1px; }
  .settings-tabs .nav-tab-active {
    background: white; }

.settings-wrap {
  border: 1px solid #ccc;
  margin: 0 20px 0 0;
  padding: 20px;
  background: white;
  border-radius: 2px; }

.sortable-articles {
  min-height: 200px;
  margin: 10px; }
  .sortable-articles li {
    border-radius: 4px;
    background: #efefef;
    padding: 10px;
    margin: 5px; }
    .sortable-articles li:hover {
      cursor: move; }
    .sortable-articles li a {
      border-radius: 4px;
      text-decoration: none; }
  .sortable-articles#homepage-articles li:first-child {
    background: #0085BA;
    color: #fff; }
    .sortable-articles#homepage-articles li:first-child a {
      color: white; }
  .sortable-articles#all-articles {
    max-height: 420px;
    overflow-y: scroll; }
    .sortable-articles#all-articles a {
      display: none; }

/* Meta Boxes */
.admin-input-box {
  overflow: hidden; }
  .admin-input-box .admin-label {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold; }
    .admin-input-box .admin-label label {
      vertical-align: middle; }
  .admin-input-box .admin-input {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px; }
    .admin-input-box .admin-input input:not([type=checkbox]), .admin-input-box .admin-input select {
      width: 100%; }
  .admin-input-box .admin-product-image {
    float: right;
    max-height: 100px; }
  .admin-input-box .hint {
    font-size: 10px;
    padding: 6px; }

/* Image Uploader */
.image-uploader {
  overflow: hidden; }

.multiple-image-uploader .gallery {
  margin: 10px 0; }
  .multiple-image-uploader .gallery .gallery-item {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .multiple-image-uploader .gallery .gallery-item a {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      background: white;
      border-radius: 3px;
      text-decoration: none; }
