/* Media Queries */
/* Fonts */
/* Colors */
.m-t-5 {
  margin-top: 5px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-t-35 {
  margin-top: 35px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-t-45 {
  margin-top: 45px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.m-t-55 {
  margin-top: 55px !important; }

.m-t-60 {
  margin-top: 60px !important; }

.m-t-65 {
  margin-top: 65px !important; }

.m-t-70 {
  margin-top: 70px !important; }

.m-t-75 {
  margin-top: 75px !important; }

.m-t-80 {
  margin-top: 80px !important; }

.m-t-85 {
  margin-top: 85px !important; }

.m-t-90 {
  margin-top: 90px !important; }

.m-t-95 {
  margin-top: 95px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.m-b-5 {
  margin-top: 5px !important; }

.m-b-10 {
  margin-top: 10px !important; }

.m-b-15 {
  margin-top: 15px !important; }

.m-b-20 {
  margin-top: 20px !important; }

.m-b-25 {
  margin-top: 25px !important; }

.m-b-30 {
  margin-top: 30px !important; }

.m-b-35 {
  margin-top: 35px !important; }

.m-b-40 {
  margin-top: 40px !important; }

.m-b-45 {
  margin-top: 45px !important; }

.m-b-50 {
  margin-top: 50px !important; }

.m-b-55 {
  margin-top: 55px !important; }

.m-b-60 {
  margin-top: 60px !important; }

.m-b-65 {
  margin-top: 65px !important; }

.m-b-70 {
  margin-top: 70px !important; }

.m-b-75 {
  margin-top: 75px !important; }

.m-b-80 {
  margin-top: 80px !important; }

.m-b-85 {
  margin-top: 85px !important; }

.m-b-90 {
  margin-top: 90px !important; }

.m-b-95 {
  margin-top: 95px !important; }

.m-b-100 {
  margin-top: 100px !important; }

.m-l-5 {
  margin-top: 5px !important; }

.m-l-10 {
  margin-top: 10px !important; }

.m-l-15 {
  margin-top: 15px !important; }

.m-l-20 {
  margin-top: 20px !important; }

.m-l-25 {
  margin-top: 25px !important; }

.m-l-30 {
  margin-top: 30px !important; }

.m-l-35 {
  margin-top: 35px !important; }

.m-l-40 {
  margin-top: 40px !important; }

.m-l-45 {
  margin-top: 45px !important; }

.m-l-50 {
  margin-top: 50px !important; }

.m-l-55 {
  margin-top: 55px !important; }

.m-l-60 {
  margin-top: 60px !important; }

.m-l-65 {
  margin-top: 65px !important; }

.m-l-70 {
  margin-top: 70px !important; }

.m-l-75 {
  margin-top: 75px !important; }

.m-l-80 {
  margin-top: 80px !important; }

.m-l-85 {
  margin-top: 85px !important; }

.m-l-90 {
  margin-top: 90px !important; }

.m-l-95 {
  margin-top: 95px !important; }

.m-l-100 {
  margin-top: 100px !important; }

.m-r-5 {
  margin-top: 5px !important; }

.m-r-10 {
  margin-top: 10px !important; }

.m-r-15 {
  margin-top: 15px !important; }

.m-r-20 {
  margin-top: 20px !important; }

.m-r-25 {
  margin-top: 25px !important; }

.m-r-30 {
  margin-top: 30px !important; }

.m-r-35 {
  margin-top: 35px !important; }

.m-r-40 {
  margin-top: 40px !important; }

.m-r-45 {
  margin-top: 45px !important; }

.m-r-50 {
  margin-top: 50px !important; }

.m-r-55 {
  margin-top: 55px !important; }

.m-r-60 {
  margin-top: 60px !important; }

.m-r-65 {
  margin-top: 65px !important; }

.m-r-70 {
  margin-top: 70px !important; }

.m-r-75 {
  margin-top: 75px !important; }

.m-r-80 {
  margin-top: 80px !important; }

.m-r-85 {
  margin-top: 85px !important; }

.m-r-90 {
  margin-top: 90px !important; }

.m-r-95 {
  margin-top: 95px !important; }

.m-r-100 {
  margin-top: 100px !important; }

body {
  font: normal 500 18px "Futura", "futura-pt", "Century Gothic", "Avant Garde", "AvantGarde", "CartoGothicStd-Book", sans-serif; }
  @media only screen and (min-width: 1440px) {
    body .container {
      width: 1400px; } }

a:visited {
  color: #6e6e6e; }

a {
  display: inline-block;
  text-decoration: none;
  color: #878787; }

a:hover {
  text-decoration: none;
  color: #7b26d1; }

#page-container {
  margin-top: 20px; }

/* Header & Footer */
.countrysite {
  display: none; }

header.hd ul, header.hd li {
  list-style: none; }
header.hd .countrysite {
  display: block;
  top: 10px; }
  header.hd .countrysite.btn-group.open .dropdown-toggle {
    box-shadow: none; }
    header.hd .countrysite.btn-group.open .dropdown-toggle a:hover {
      text-decoration: none; }
  header.hd .countrysite a:hover {
    text-decoration: none; }
  header.hd .countrysite .dropdown-menu li {
    border-bottom: 1px solid #efefef;
    padding: 4px 0; }
  header.hd .countrysite .dropdown-menu a {
    font: normal 500 18px "Futura", "futura-pt", "Century Gothic", "Avant Garde", "AvantGarde", "CartoGothicStd-Book", sans-serif;
    font-size: 10px;
    color: #aaa;
    background: none; }
  header.hd .countrysite .dropdown-menu .active a {
    color: #000; }

footer.ft,
.footer_container {
  font: normal 500 18px Verdana, Arial, sans-serif;
  font-size: 10px;
  overflow: hidden; }
  footer.ft ul, footer.ft li,
  .footer_container ul,
  .footer_container li {
    list-style: none; }

.footer-links {
  display: none; }
  .footer-links li {
    margin: 2px 0; }

/* Fixes for Forzieri grabbed header and footer */
.mobile .ft-links h4 a {
  font-size: 14px; }
.mobile .mobile-header {
  font-size: 11px; }
.mobile #mobile-drawer-overlay {
  top: 0; }

@media only screen and (max-width: 767px) {
  .mobile footer.ft .countrysite {
    display: block;
    margin: 0 auto; }

  header.hd .countrysite {
    display: none; } }
/* Global Navigation */
#global-nav .nav-submenu-box.container {
  width: auto;
  padding: 18px 35px 50px;
  margin: 0; }
  #global-nav .nav-submenu-box.container .row {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    padding-left: 35px;
    margin-right: -1px; }
    #global-nav .nav-submenu-box.container .row ul {
      padding: 0; }
  #global-nav .nav-submenu-box.container .row:last-child {
    margin-right: 0;
    padding-right: 0; }
  #global-nav .nav-submenu-box.container h2 {
    margin: 0;
    margin-bottom: 20px; }

.mobile-nav li a {
  font-size: 10px;
  padding: 4px 16px 8px 16px; }
